<% cache cache_key_for(Drug, "index") do %>
  <div class="filter margin-top-80">
    <h1>All Medications</h1>
  </div>
  <%= render partial: 'shared/drugs_by_letter' %>
  <div id="drug-data" class="clearfix">
    <%= render partial: 'shared/lact_med_reference' %>
    <%= render partial: 'shared/drug_index_summary' %>
  </div>
<% end %>
