<% cache("drug-search-usage") do %>
  <div id="usage-search" class="margin-top-80">
    <h1>Search by Usage or Indictation</h1>
    <p>In one word, describe your ailment below.</p>
    <input type="text" name="drug-usage" id="drug-usage" placeholder="Migraine, anxiety, etc.">
    <a id="search-submit" class="cyan lighten-2 search-by-usage waves-effect waves-light btn">Search</a>
    <div id="drug-data" class="clearfix"></div>
  </div>
<% end %>
