<% cache(action: "drug-search", action_suffix: "name") do %>
<div id="name-search" class="margin-top-80">
  <h1>Search by Drug Name</h1>
  <p>Enter the name of the medication below.</p>
  <input type="text" name="drug-name" id="drug-name" placeholder="Amoxicillin, Sertraline, etc.">
  <a id="search-submit" class="cyan lighten-2 search-by-name waves-effect waves-light btn">Search</a>
  <div id="drug-data" class="clearfix"></div>
</div>
<% end %>
