<% cache cache_key_for(Drug, "lactmed-show-#{@drug_lact_med.name}") do %>
  <h3 class="margin-top-80"><%= @drug_lact_med.name %></h3>
  <div>
    <%= render partial: 'shared/lact_med_info' %>
    <%= render partial: 'shared/lact_med_drug_details' %>
  </div>
<% end %>

<% cache cache_key_for(Drug, "fda-show-#{@drug_lact_med.name}") do %>
  <div class="margin-top-40 margin-bottom-80">
    <%= render partial: 'shared/fda_info' %>
  </div>
<% end %>
