---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8dkuRJt77tScgn8WkvCukBeCj", oauth_nonce="ca185d68c4fcd092cfd5105c3a347a9d",
        oauth_signature="wC88ITYJu4GCfGdxUstsmNQbRhk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452985146", oauth_token="1066151600-RRy5hXNd1lLABYQwSYngEmqqtdNeFuaHfQk3k4n",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 16 Jan 2016 22:59:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 754aaaa4567137e669170276778474d3
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '8'
      X-Rate-Limit-Reset:
      - '1452985622'
      X-Response-Time:
      - '44'
      X-Transaction:
      - 1fb43b09c3d8bd98
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":1066151600,"id_str":"1066151600","name":"Emily Freeman Dowdle","screen_name":"EditingEmily","location":"Denver,
        CO","description":"Student at Turing School of Software Development & Design","url":"https:\/\/t.co\/Q7h640DI11","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Q7h640DI11","expanded_url":"http:\/\/www.emilydowdle.com","display_url":"emilydowdle.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":58,"friends_count":133,"listed_count":2,"created_at":"Sun
        Jan 06 16:49:03 +0000 2013","favourites_count":36,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":75,"lang":"en","status":{"created_at":"Mon
        Dec 21 17:45:46 +0000 2015","id":678994782933266432,"id_str":"678994782933266432","text":"Not
        a ton of details yet, but you should definitely checkout the DinosaurJS conference:
        https:\/\/t.co\/zrNIqXmTr5","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/zrNIqXmTr5","expanded_url":"http:\/\/dinosaurjs.org\/","display_url":"dinosaurjs.org","indices":[88,111]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C2C2C2","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/673321176458899456\/u7idSLyu_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/673321176458899456\/u7idSLyu_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1066151600\/1425935788","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sat, 16 Jan 2016 22:59:08 GMT
[...]
