---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=breastfeeding&result_type=recent&since=2016-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8dkuRJt77tScgn8WkvCukBeCj", oauth_nonce="d7283f9b6e319ef1261cdcdbde06a943",
        oauth_signature="Odfsb8CAWVeLZU0Q8wdHKuu2GkE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1453333913", oauth_token="1066151600-RRy5hXNd1lLABYQwSYngEmqqtdNeFuaHfQk3k4n",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 20 Jan 2016 23:51:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - df61d776747334e34862a584efcf191f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1453334813'
      X-Response-Time:
      - '369'
      X-Transaction:
      - 378a61a4a6ea85a0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Jan 20 23:51:27 +0000 2016","id":689958447719305216,"id_str":"689958447719305216","text":"RT
        @TheralineUK: #winitwednesday Theraline Original #pregnancypillow #breastfeeding
        RT &amp; follow to enter https:\/\/t.co\/Hqm8O5JexC https:\/\/t.\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2838100870,"id_str":"2838100870","name":"\u2728
        \u1515\u15e9\u1587\u15e9\u157c \u2728","screen_name":"Wotstarmagic","location":"","description":"I
        am a Mummy & I love it! I love travel, fun days out, blogs, dresses, makeup,
        shoes, films, games, gadgets and my family. Work in social media marketing
        xx","url":"https:\/\/t.co\/bR5k1NJlKp","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/bR5k1NJlKp","expanded_url":"http:\/\/www.proactivehealthcare.co.uk\/","display_url":"proactivehealthcare.co.uk","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":11164,"friends_count":4051,"listed_count":71,"created_at":"Mon
        Oct 20 13:36:01 +0000 2014","favourites_count":1391,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":false,"statuses_count":33573,"lang":"en-gb","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"FF6699","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme11\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme11\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/680797018676183040\/gz4EeiKZ_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/680797018676183040\/gz4EeiKZ_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2838100870\/1444387753","profile_link_color":"B40B43","profile_sidebar_border_color":"CC3366","profile_sidebar_fill_color":"E5507E","profile_text_color":"362720","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Jan 20 11:07:30 +0000 2016","id":689766193104818177,"id_str":"689766193104818177","text":"#winitwednesday
        Theraline Original #pregnancypillow #breastfeeding RT &amp; follow to enter
        https:\/\/t.co\/Hqm8O5JexC https:\/\/t.co\/MfcK36K0fd","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":269851030,"id_str":"269851030","name":"Theraline
        UK","screen_name":"TheralineUK","location":"United Kingdom","description":"Thera[...]
