<div id="recent-searches" class="col s6 center">
  <%= image_tag "baby-1.jpg" %>
  <h5>Recent Searches</h5>
  <ul>
    <% @searches.each do |search| %>
      <li class="col s6 center"><%= link_to search.drug_name, "/drugs/#{search.drug_name}" %></li>
    <% end %>
  </ul>
</div>
