<div id="common-medications" class="col s6 center">
  <%= image_tag "baby-2.jpg" %>
  <h5>Common Medications</h5>
  <ul>
    <a href="/drugs/Levothyroxine" class="col s6 center"><li>Levothyroxine (T4)</li></a>
    <a href="/drugs/Simvastatin" class="col s6 center"><li>Simvastatin</li></a>
    <a href="/drugs/Sertraline" class="col s6 center"><li>Sertraline</li></a>
    <a href="/drugs/Amoxicillin" class="col s6 center"><li>Amoxicillin</li></a>
    <a href="/drugs/Metformin" class="col s6 center"><li>Metformin</li></a>
    <a href="/drugs/Azithromycin" class="col s6 center"><li>Azithromycin</li></a>
  </ul>
</div>
