<h5>Information from LactMed</h5>
<p>
  The information below comes from the Drugs and Lactation Database (LactMed),
  a database of drugs and chemicals from the National Institutes of Health (NIH).

  All data are derived from fully-referenced, peer-reviewed scientific literature.

  For even more information about <%= @drug_lact_med.name %> according to the NIH,
  visit <%= link_to "LactMed", "http://toxnet.nlm.nih.gov/newtoxnet/lactmed.htm" %>.
</p>
