<!-- <ul class="collection"> -->
  <% @drugs.each do |drug| %>
    <!-- <li class="collection-item"> -->
      <%= drug.name %>
      <%= drug.summary %>
      <%= drug.drug_classes %>

    <!-- </li> -->
  <% end %>
<!-- </ul> -->
