<h3 class="margin-top-80 center">Welcome back, Emily!</h3>
<div id="margin-left-270" class="waves-effect waves-light btn-large cyan lighten-2">
  <%= button_to "Quick Medication Lookup", root_path %>
</div>

<div class="row margin-top-80">
  <div class="col s6 center">
    <img class="width-375" src="http://stylonica.com/wp-content/uploads/2014/03/cats_animals_kittens_cat_kitten_cute_desktop_1680x1050_hd-wallpaper-753974.jpeg" alt="Babies!" />
    <h5>Recent Searches</h5>
    <ul>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
    </ul>
  </div>
  <div class="col s6 center">
    <img class="width-375" src="http://stylonica.com/wp-content/uploads/2014/03/cats_animals_kittens_cat_kitten_cute_desktop_1680x1050_hd-wallpaper-753974.jpeg" alt="Babies!" />
    <h5>Common Medications</h5>
    <ul>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
      <a href="#" class="col s6 center"><li>Med 1</li></a>
    </ul>
  </div>
</div>

<!-- <div class="margin-top-80">
  <h4>Awesome heading</h4>
  <p>
    Nunc quis sagittis lacus. Aenean ut laoreet mi. Morbi at lectus id eros
    efficitur aliquet. Curabitur risus diam, vestibulum ac elit et, maximus
    blandit neque. Cum sociis natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Fusce ac finibus sem, id malesuada metus.
    Aliquam lectus sapien, eleifend in erat et, tempus cursus neque.
  </p>
</div> -->

<div class="row margin-top-80">
  <div class="col s4 center">
    <img class="width-150" src="http://stylonica.com/wp-content/uploads/2014/03/cats_animals_kittens_cat_kitten_cute_desktop_1680x1050_hd-wallpaper-753974.jpeg" alt="Babies!" />
    <h5>Search By Name</h5>
    <p>
      Best for moms who know what medication they're looking for.
    </p>
    <div class="waves-effect waves-light btn cyan lighten-2">
      <%= button_to "Search", root_path %>
    </div>
  </div>
  <div class="col s4 center">
    <img class="width-150" src="http://stylonica.com/wp-content/uploads/2014/03/cats_animals_kittens_cat_kitten_cute_desktop_1680x1050_hd-wallpaper-753974.jpeg" alt="Babies!" />
    <h5>Search By Cause</h5>
    <p>
      Check out your options based on what you're seeking medication for.
    </p>
    <div class="waves-effect waves-light btn cyan lighten-2">
      <%= button_to "Search", root_path %>
    </div>
  </div>
  <div class="col s4 center">
    <img class="width-150" src="http://stylonica.com/wp-content/uploads/2014/03/cats_animals_kittens_cat_kitten_cute_desktop_1680x1050_hd-wallpaper-753974.jpeg" alt="Babies!" />
    <h5>View All Medications</h5>
    <p>
      Just browsing? Browse all the medications listed by name.
    </p>
    <div class="waves-effect waves-light btn cyan lighten-2">
      <%= button_to "View All", root_path %>
    </div>
  </div>
</div>
