<h3 class="margin-top-80 center">Your baby's safety is our priority</h3>
<h5 class="center" >Find out which medications are safe to take while breastfeeding</h5>
<p class="center" >
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in tortor sit
  amet magna scelerisque blandit sed ut quam. Etiam ac sodales nibh, sit amet efficitur
  dolor. Morbi rutrum est sed felis varius mollis. Suspendisse venenatis, lorem at
  congue congue, nunc ante volutpat lacus, eget vestibulum.

  Sed eget lacus finibus, dictum velit ac, dapibus dolor. Aenean a consequat
  eros, ut dictum erat. Curabitur vehicula pellentesque ullamcorper.
</p>
<div class="margin-top-80 center-button waves-effect waves-light btn-large cyan lighten-2">
  <%= button_to "Login with Twitter", login_path %>
</div>
