@font-face {
  font-family: "Roboto";
  src: font-url("..font/roboto/Roboto-Thin.eot");
  src: font-url("../font/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), font-url("../font/roboto/Roboto-Thin.woff2") format("woff2"), font-url("../font/roboto/Roboto-Thin.woff") format("woff"), font-url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}
