.margin-top-80 {
  margin-top: 80px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.width-150 {
  max-width: 150px;
}

.width-375 {
  max-width: 375px;
}

.side-margin-15 {
  margin: 0 15px;
}

.center-button {
  display: block !important;
  margin: 0 auto;
  width: 300px;
}

.center-button-small {
  display: block !important;
  margin: 0 auto;
  width: 75px;
}

p strong {
  font-weight: 600;
}

p {
  color: #263238;
}

h1, h2, h3, h4, h5 {
  color: #37474f;
  font-weight: 200;
}
